# Файлы, которые Helm НЕ должен включать в собранный пакет (.tgz),
# создаваемый командой helm package. Тот же смысл, что у .gitignore,
# но для другого инструмента.

.git/
.gitignore
*.swp
*.bak
.DS_Store
